.cajas_1 {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}
.caja_caja_itulo1 {
  color: red;
}
.cajas_1_p {
  display: flex;
}
.flecha_caja {
  width: 20px;
}
.caja_contenedor{
  max-height: 200px ;
  border: 1px solid black;
  display: flex;
  overflow-x: auto;
  gap: 1em;
}
.caja_caja{
  min-width: 200px;
  height: 240px;
  line-height: 110px;
  padding: 5px 0;
  background-color: blue;
}
.caja_img {
   background-color: red;
}

