*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
section{
  width: 1136px;
  height: auto;
  box-sizing: border-box;
}
.btn_modificadores{
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.btn_op:hover{
  transform: scale(1.4);
  cursor: pointer;
}
.btn_general{
  text-decoration: none;
}
@media (max-width:768px) {
  section{
    width: 100%;
    height: auto;
    box-sizing: border-box;
  }
}
