.login_login{
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 390px;
}
.login_form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.login_label{
  color: red;
  font-size: large;
}
.login_input_email, .login_input_pass{
  width: 400px;
  height: 30px;
  padding: 3px 5px;
  border-radius: 4px;
  font-size: larger;
}
.login_btn{
  width: 150px;
  height: 30px;
  border-radius:5px ;
}
.error-login{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  font-size: 18px;
  font-weight: bold;
  padding-top: 10px;
}
@media (max-width:768px) {
  .login_input_email, .login_input_pass{
    width: 90%;
    height: 30px;
    padding: 3px 5px;
    border-radius: 4px;
    font-size: larger;
  }
  .login_btn{
    width: 100px;
    height: 30px;
    border-radius:5px ;
  }
}


